
<h1>Organizador de tareas</h1>

<div [ngSwitch]= "diasSemana">
  <p class="item" *ngSwitchCase=" 'Lunes' ">Tomar cafe,hacer ejercicio y estudiar </p>
  <p class="item" *ngSwitchCase=" 'Martes' ">tomar cafe, hacer ejercicio y practicar ingles </p>
  <p class="item" *ngSwitchCase=" 'Miercoles' ">Tomar cafe, ir a la clase de tenis y estudiar</p>
  <p class="item" *ngSwitchCase=" 'Jueves' ">Tomar cafe, hacer ejercicio, estudiar ingles</p>
  <p class="item" *ngSwitchCase=" 'Viernes' ">Tomar cafe, descansar y organizar la casa</p>
  
  <p *ngSwitchCase= "13"> -------13------- </p>
  <p *ngSwitchDefault>Elija un dia de la semana para conocer tu destino</p>
</div>

<input type="texto" [(ngModel)]="diasSemana"/>